body {
    font-family: Arial, sans-serif;
    background-color: #e8e8e8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block {
    margin-top: 250px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px gray;
    text-align: center;
    width: 300px;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid gray;
    border-radius: 4px;
    box-sizing: border-box;
}

p {
    color: gray;
}

span {
    color: black;
}